html {
  margin: 0;
}
body {
  margin: 0;
}

h1 {
  color: blue;
  font-size: 100px;
  margin: 0;
  padding: 10px;
}
p {
  color: blue;
}

#container {
  margin: 10px;
}

#header {
  background-image: url("Daniel_Tiger.webp");
  height: 100vh;
}