html {
  margin: 0;
}
body {
  margin: 0;
}

h1 {
  color: red;
  font-size: 100px;
  margin: 0;
  font-size: 70px;
}

p {
  color: blue;
  font-size: 30px;
}

#animal-container {
  display: inline-block;
  justify-content: space-between;
  height: 120px;
  width: 380px;
}

#background {
  position: relative;
  bottom: 0;
  background-image: url("images/Daniel_Tiger.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #B6EBFF ;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 20px
}

#new-animals {
}

#animal-audio {
  outline: none;
}

.success-background {
  background-color: green;
}

.fail-background {
  background-color: orange;
}

#new-animals {
  padding: 20px 40px;
  background-color: green;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}

#new-animals:hover {
  cursor: pointer;
}

.animal-button {
  cursor: pointer;
}
